<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->
<configuration>
  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DWHelperUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DWHelperUI.Properties.Settings>
            <setting name="applySolutionCheckbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="envURL" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="adowikiupload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportConfig" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="runmode" serializeAs="String">
                <value />
            </setting>
            <setting name="exportStatus" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="configName" serializeAs="String">
                <value>DWHelperCMD.dll.config</value>
            </setting>
            <setting name="logLevel" serializeAs="String">
                <value>Information</value>
            </setting>
            <setting name="exportOption" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="targetFO" serializeAs="String">
                <value />
            </setting>
            <setting name="forceReset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disablePrivateBrowser" serializeAs="String">
                <value>False</value>
            </setting>
        </DWHelperUI.Properties.Settings>
    </userSettings>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false" />
  </runtime>
</configuration>