<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->
<configuration>
	<configSections>
		<section name="DWSettings" type="DWLibary.DWSettings, DWLibary"/>
	</configSections>
  <appSettings>
    
    <add key="dataintegratorURL" value="https://dataintegrator.trafficmanager.net"/>
    <!--The standard dataintegrator URL-->
    <add key="FOEnvironment" value=""/>
    <!-- Defined also through cmd line parameter-->
    <add key="executionMode" value="parallel"/>
    <!-- parallel, sequential-->
    <add key="maxThreads" value="10" />
    <!-- maximum parallel running threads in the same sequence-->
    <add key ="runMode" value="start"/>
    <!-- App Insghts connection string-->
    <add key="appInsightConnectionString" value=""/>
    <!-- possible values: deployment, deployInitialSync -->
    <!-- If you just want to change statuses and the version does not change, you can use deployment mode, it will set the status to whatever target status you have, e.g. Starting all maps / stopping all-->
    <add key ="MFASecretKey" value=""/> <!-- For MFA authentication
    
    Go to your Office365 'Security info' page at: https://mysignins.microsoft.com/security-info
		Enter your O365 login and password
		Click 'Add method' and select "Authenticator app" in Combobox, click Add
		Click on "I want to use a different authenticator app" link
		Click on the 'Next' button, click on the 'Next' button
		Click on 'Can't scan image?'
		Make a note of the 'Secret key' which is displayed
		Open Authenticator app and click the '+' to add an account and select 'work or school account'
		Scan the QR code displayed on the web page
		When the App displays a six-digit code, click 'Next' on the web page
		Enter the six-digit verification code from the app into the web page and Click the 'Next' button
		Add your MFA Secret key from step 7 with the spaces removed to your app.config as shown below, in the same section that you add your username and password
    
    -->
  </appSettings>
  <DWSettings>
    <!-- Wheter to upload a map documentaton to a Azure DevOps Wiki -->
    <ADOWikiParameters>
      <add key="UseADOWikiUpload" value="false"/>
      <!--Update the Wiki pages after deployment -->
      <add key="AccessToken" value=""/>
      <!-- Your personal access token for ADO, it only needs Read/Write permisson for the Wiki scope-->
      <add key="ProjectName" value=""/>
      <!-- The project name of the ADO-->
      <add key="OrganizationURL" value=""/>
      <!-- The Organization URL, e.g. https://dev.azure.com/YourOrg/-->
      <add key="WikiName" value=""/>
      <!-- The Wiki name, e.g. "The-DW-WIKI.wiki" you will find this when opening the Wiki on the top-->
      <add key="WikiPath" value="/"/>
      <!-- In which path the docs should be added in, e.g. you don't want to have it in the root path, ATTENTION: Do not use the Path in the URL, use the page titles-->
    </ADOWikiParameters>
    <!-- Solutions to apply -->
    <Solutions>
      <Solution name="msdyn_DualWriteAppCoreMaps" />
      <Solution name="Dynamics365FinanceAndOperationsDualWriteMaps" />
      <Solution name="Dynamics365GABDualWriteEntityMaps" />
      <Solution name="msdyn_Dynamics365FinanceExtendedMaps" />
      <Solution name="msdyn_Dynamics365SupplyChainExtendedMaps" />
    </Solutions>
    <!-- End solutions -->
		<!-- Groups are used for group settings, like inital sync true/false, master environment etc.-->
		<Groups>
		
			<!--
			initalSync: true/false -> This only applies for runMode "InitialSetup" and "onlySync", for deployment no inital sync is made. 
			targetStatus: Running, Stopped, Keep = Keep the previous status 
			exceptionHandling: ignore = just continue with next map regardless of errors, skip = Skip initial sync, stop = stop process
			retry: retrying inital sync with self referencing data, e.g. customers with invoice accounts, retry happens based on the error message given. > not tested
			-->
		
			<Group name="All" initialSync="true" targetState="Running" exceptionHandling="skip" retry="true"/>
		</Groups>
		<!-- Maps to apply-->
		<MapConfigs>
      <!-- This represents the "out of the box" non GAB solution maps -->
      <Map mapName="msdyn_parties - CDS Parties" version="latest" authors="Any" keys="msdyn_partynumber" group="All" master="CE" />
      <Map mapName="uoms - Units" version="latest" authors="Any" keys="msdyn_symbol" group="All" master="CE" />
      <Map mapName="msdyn_postaladdresscollections - CDS postal address locations" version="latest" authors="Any" keys="msdyn_location" group="All" master="CE" />
      <Map mapName="msdyn_personalcharactertypes - Personal character types" version="latest" authors="Any" keys="msdyn_typename,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_salutations - Salutations" version="latest" authors="Any" keys="msdyn_salutationphrase,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_decisionmakingroles - Decision making roles" version="latest" authors="Any" keys="msdyn_rolename,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_complimentaryclosings - Complimentary closings" version="latest" authors="Any" keys="msdyn_closingphrase,msdyn_companyid.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_loyaltylevels - Loyalty levels" version="latest" authors="Any" keys="msdyn_levelphrase,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_addressroles - CDS location roles" version="latest" authors="Any" keys="msdyn_name" group="All" master="CE" />
      <Map mapName="msdyn_salescontactpersontitles - Contact person titles" version="latest" authors="Any" keys="msdyn_jobtitlealias,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_withholdingtaxgroups - Withholding tax groups" version="latest" authors="Any" keys="msdyn_name,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_productdimensiongroups - Product dimension groups" version="latest" authors="Any" keys="msdyn_groupname" group="All" master="CE" />
      <Map mapName="msdyn_termsofdeliveries - Terms of delivery" version="latest" authors="Any" keys="msdyn_termscode,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_productstyles - Styles" version="latest" authors="Any" keys="msdyn_productstyle" group="All" master="CE" />
      <Map mapName="cdm_companies - Legal entities" version="latest" authors="Any" keys="cdm_companycode" group="All" master="CE" />
      <Map mapName="cdm_workers - Worker" version="latest" authors="Any" keys="cdm_workernumber" group="All" master="CE" />
      <Map mapName="msdyn_paymentdays - Payment days CDS" version="latest" authors="Any" keys="msdyn_name,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_producttrackingdimensiongroups - Tracking dimension groups" version="latest" authors="Any" keys="msdyn_groupname" group="All" master="CE" />
      <Map mapName="transactioncurrencies - Currencies" version="latest" authors="Any" keys="isocurrencycode" group="All" master="CE" />
      <Map mapName="msdyn_globalproducts - All products" version="latest" authors="Any" keys="msdyn_productnumber" group="All" master="CE" />
      <Map mapName="msdyn_operationalsites - Sites" version="latest" authors="Any" keys="msdyn_siteid,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_warehousezonegroups - Warehouse zone groups" version="latest" authors="Any" keys="msdyn_groupid,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_taxitemgroups - Item sales tax group" version="latest" authors="Any" keys="msdyn_name,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_shipvias - Modes of delivery" version="latest" authors="Any" keys="msdyn_name,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_paymentschedules - Payment schedule" version="latest" authors="Any" keys="msdyn_name,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_salesorderorigins - Sales order origin codes" version="latest" authors="Any" keys="msdyn_origincode,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_dimensionattributes - Financial dimensions" version="latest" authors="Any" keys="msdyn_dimensionname" group="All" master="CE" />
      <Map mapName="msdyn_productcolors - Colors" version="latest" authors="Any" keys="msdyn_productcolorname" group="All" master="CE" />
      <Map mapName="msdyn_productconfigurations - Configurations" version="latest" authors="Any" keys="msdyn_productconfiguration" group="All" master="CE" />
      <Map mapName="msdyn_productstoragedimensiongroups - Storage dimension groups" version="latest" authors="Any" keys="msdyn_groupname" group="All" master="CE" />
      <Map mapName="cdm_jobtypes - Compensation job type" version="latest" authors="Any" keys="cdm_name" group="All" master="CE" />
      <Map mapName="msdyn_vendorpaymentmethods - Vendor payment method" version="latest" authors="Any" keys="msdyn_name,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_productcategoryhierarchies - Product category hierarchies" version="latest" authors="Any" keys="msdyn_name" group="All" master="CE" />
      <Map mapName="cdm_positiontypes - Position type" version="latest" authors="Any" keys="cdm_name" group="All" master="CE" />
      <Map mapName="cdm_languages - Language codes" version="latest" authors="Any" keys="cdm_name" group="All" master="CE" />
      <Map mapName="msdyn_customerpaymentmethods - Customer payment method" version="latest" authors="Any" keys="msdyn_name,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="cdm_jobfunctions - Compensation job function" version="latest" authors="Any" keys="cdm_name" group="All" master="CE" />
      <Map mapName="msdyn_taxgroups - Sales tax groups" version="latest" authors="Any" keys="msdyn_name,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_productsizes - Sizes" version="latest" authors="Any" keys="msdyn_productsize" group="All" master="CE" />
      <Map mapName="msdyn_pricecustomergroups - Price customer groups" version="latest" authors="Any" keys="msdyn_groupcode,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_partyelectronicaddresses - Party contacts V3" version="latest" authors="Any" keys="msdyn_electronicaddressnumber,msdyn_partyid.msdyn_partynumber" group="All" master="CE" />
      <Map mapName="msdyn_postaladdresses - CDS postal address history V2" version="latest" authors="Any" keys="msdyn_validfrom,msdyn_postaladdresscollectionid.msdyn_location" group="All" master="CE" />
      <Map mapName="msdyn_productcategories - Product categories" version="latest" authors="Any" keys="msdyn_name,msdyn_hierarchy.msdyn_name" group="All" master="CE" />
      <Map mapName="msdyn_warehouses - Warehouses" version="latest" authors="Any" keys="msdyn_warehouseidentifier,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_productcategoryhierarchyroles - Product category hierarchy roles" version="latest" authors="Any" keys="msdyn_hierarchyrole,msdyn_hierarchy.msdyn_name" group="All" master="CE" />
      <Map mapName="msdyn_paymentdaylines - Payment day lines CDS V2" version="latest" authors="Any" keys="msdyn_linenumber,msdyn_company.cdm_companycode,msdyn_paymentday.msdyn_name,msdyn_paymentday.msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_paymentschedulelines - Payment schedule lines" version="latest" authors="Any" keys="msdyn_linenumber,msdyn_company.cdm_companycode,msdyn_paymentschedule.msdyn_name,msdyn_paymentschedule.msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_warehousezones - Warehouse zones" version="latest" authors="Any" keys="msdyn_zoneid,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_partypostaladdresses - CDS Party postal address locations" version="latest" authors="Any" keys="msdyn_postaladdresscollectionid.msdyn_location,msdyn_partyid.msdyn_partynumber" group="All" master="CE" />
      <Map mapName="cdm_jobs - Jobs" version="latest" authors="Any" keys="cdm_name" group="All" master="CE" />
      <Map mapName="msdyn_paymentterms - Terms of payment" version="latest" authors="Any" keys="msdyn_name,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_customergroups - Customer groups" version="latest" authors="Any" keys="msdyn_groupid,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_vendorgroups - Vendor groups" version="latest" authors="Any" keys="msdyn_vendorgroup,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_productcategoryassignments - Product category assignments" version="latest" authors="Any" keys="msdyn_productcategory.msdyn_name,msdyn_productcategory.msdyn_hierarchy.msdyn_name,msdyn_globalproduct.msdyn_productnumber" group="All" master="CE" />
      <Map mapName="cdm_jobpositions - Positions V2" version="latest" authors="Any" keys="cdm_jobpositionnumber" group="All" master="CE" />
      <Map mapName="products - CDS released distinct products" version="latest" authors="Any" keys="msdyn_productnumber,msdyn_companyid.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_contactforparties - Contacts V2" version="latest" authors="Any" keys="msdyn_contactforpartynumber,msdyn_associatedcompanyid.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_inventoryonhandrequests - CDS inventory on-hand requests" version="latest" authors="Any" keys="msdyn_requestid,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_inventoryonhandentries - CDS inventory on-hand entries" version="latest" authors="Any" keys="msdyn_atpdate,msdyn_inventorysite.msdyn_siteid,msdyn_inventorysite.msdyn_company.cdm_companycode,msdyn_inventorywarehouse.msdyn_warehouseidentifier,msdyn_inventorywarehouse.msdyn_company.cdm_companycode,msdyn_request.msdyn_requestid,msdyn_request.msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_vendors - Vendors V2" version="latest" authors="Any" keys="msdyn_vendoraccountnumber,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="contacts - Customers V3" version="latest" authors="Any" keys="msdyn_contactpersonid,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="accounts - Customers V3" version="latest" authors="Any" keys="accountnumber,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_sharedproductdetails - Released products V2" version="latest" authors="Any" keys="msdyn_itemnumber,msdyn_companyid.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_productdefaultordersettings - Default order settings" version="latest" authors="Any" keys="msdyn_company.cdm_companycode,msdyn_itemnumber.msdyn_itemnumber,msdyn_itemnumber.msdyn_companyid.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_purchaseorders - Purchase order headers V2" version="latest" authors="Any" keys="msdyn_name,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="salesorders - CDS sales order headers" version="latest" authors="Any" keys="msdyn_salesordernumber,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_productspecificdefaultordersettings - Product default order settings V2" version="latest" authors="Any" keys="msdyn_company.cdm_companycode,msdyn_productsize.msdyn_productsize,msdyn_productconfiguration.msdyn_productconfiguration,msdyn_operationalsite.msdyn_siteid,msdyn_operationalsite.msdyn_company.cdm_companycode,msdyn_itemnumber.msdyn_itemnumber,msdyn_itemnumber.msdyn_companyid.cdm_companycode,msdyn_productcolor.msdyn_productcolorname,msdyn_productstyle.msdyn_productstyle" group="All" master="CE" />
      <Map mapName="invoices - Sales invoice headers V2" version="latest" authors="Any" keys="msdyn_ledgervoucher,msdyn_invoicedate,msdyn_invoicenumber,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="quotes - CDS sales quotation header" version="latest" authors="Any" keys="msdyn_quotenumber,msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="msdyn_purchaseorderproducts - CDS purchase order line entity" version="latest" authors="Any" keys="msdyn_lineorder,msdyn_purchaseorder.msdyn_name,msdyn_purchaseorder.msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="salesorderdetails - CDS sales order lines" version="latest" authors="Any" keys="sequencenumber,salesorderid.msdyn_salesordernumber,salesorderid.msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="invoicedetails - Sales invoice lines V2" version="latest" authors="Any" keys="sequencenumber,invoiceid.msdyn_ledgervoucher,invoiceid.msdyn_invoicedate,invoiceid.msdyn_invoicenumber,invoiceid.msdyn_company.cdm_companycode" group="All" master="CE" />
      <Map mapName="quotedetails - CDS sales quotation lines" version="latest" authors="Any" keys="sequencenumber,quoteid.msdyn_quotenumber,quoteid.msdyn_company.cdm_companycode" group="All" master="CE" />
     
		</MapConfigs>
		<!-- End maps -->
  </DWSettings>

</configuration>